
[Desktop Entry]
Encoding=UTF-8
Name=OCaml toplevelへのリンク
Type=Link
URL=http://localhost:8082/ocaml/material/js_of_ocaml-1.2-mutated/toplevel/index.html
Icon=text-html
Name[ja_JP]=js_of_ocaml toplevel
