
[Desktop Entry]
Encoding=UTF-8
Name=localhost:8082/ocaml/material/js_of_ocaml-1.2-mutated/doc/api-html/へのリンク
Type=Link
URL=http://localhost:8082/ocaml/material/js_of_ocaml-1.2-mutated/doc/api-html/
Icon=text-html
Name[ja_JP]=js_of_ocaml module docs
